// COLORS
$color-primary: hsl(177, 51%, 56%);
$color-primary-dark: hsl(167, 51%, 30%);
$color-medium: hsl(130, 55%, 75%);
$color-secondary: hsl(81, 53%, 46%);

$color-tertiary: hsl(197, 20%, 30%);
$color-tertiary-dark: hsl(197, 20%, 15%);

$color-sea-light: hsl(177, 51%, 56%);
$color-sea-dark: hsl(177, 51%, 18%);

$color-forest-light: hsl(81, 53%, 46%);
$color-forest-dark: hsl(81, 53%, 12%);

$color-snow-light: hsl(197, 54%, 26%);
$color-snow-dark: hsl(197, 54%, 14%);

$color-grey-light-1: hsl(197, 7%, 97%);
$color-grey-light-2: hsl(197, 7%, 93%);
$color-grey-light-3: hsl(197, 7%, 87%);

$color-grey-dark: hsl(197, 7%, 47%);
$color-grey-dark-1: hsl(197, 7%, 67%);
$color-grey-dark-2: hsl(197, 7%, 60%);
$color-grey-dark-3: hsl(197, 20%, 20%);
$color-grey-dark-4: hsl(197, 7%, 13%);
$color-grey-dark-5: hsl(197, 7%, 33%);
$color-grey-dark-6: hsl(197, 7%, 47%);


$color-white: hsl(197, 20%, 20%);
$color-white-main: hsl(197, 7%, 100%);
$color-black: hsl(197, 7%, 0%);

// FONT 
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;