.section-about {
    background-color: $color-grey-dark-3;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        margin-top: -15vh;
        padding: 20rem 0;
    }
}



.section-features {
    padding: 20rem 0;

    background-image: linear-gradient(to right bottom,
            rgba($color-primary, 0.8),
            rgba($color-secondary, 0.8)),
        url(https://images.unsplash.com/photo-1517505763028-f42085998031?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    animation: bg 16s linear 1s infinite;
    transform: skewY(-7deg);
    margin-top: -10rem;

    //direct childs
    &>* {
        transform: skewY(7deg)
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}


.section-tours {
    background-color: $color-grey-dark-3;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;


    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    background-color: rgba($color-tertiary-dark, .6);
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}


.section-booking {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.booking {
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%),
        url(https://images.unsplash.com/photo-1466995942748-15b03598b494?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);



    @include respond(tab-land) {
        background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 65%, transparent 65%),
            url(https://images.unsplash.com/photo-1466995942748-15b03598b494?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);

        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, rgba($color-white, .9) 0%, rgba($color-white, .9) 100%),
            url(https://images.unsplash.com/photo-1466995942748-15b03598b494?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);

        background-size: cover;
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}